<div class="ctn-use-cases">
    <div class="arrow-down">
        <button mat-icon-button>
            <mat-icon class="icon-display">arrow_drop_down</mat-icon>
        </button>
    </div>
    <h2>{{'CASOS' | translate}}</h2>

    <div class="ctn-cases">
        <div class="case1">
            <div class="bck-color">
            </div>
            <img class="ctn-icon" src="../../../assets/Imagenes/Iconos Hackaton_Mesa de trabajo 1.png">
            <h3>{{'EMPRESARIAL' | translate}}</h3>
            <button mat-flat-button (click)="openDialog(0)">VER MÁS</button>
            <br>
        </div>
    </div>
    <div id="ctn-border">

    </div>
</div>