<div class="ctn-footer">
    <div class="ctn-logo">
        <img class="logo" src="../../../assets/Logos/Logos-Hackaton-B_Mesa de trabajo 1.png">
        <div class="icons">
            <div class="icon">
               <a target="_blank" href="https://www.facebook.com/ULatin-Hack-104055565571170/about/?ref=page_internal"><span  class="iconify" data-icon="brandico:facebook" style="color: white; width: 1.5vw; height: 1.5vw;"></span></a> 
            </div>
            <div class="icon">
                <a target="_blank" href="https://www.linkedin.com/company/ulatin.hack"> <span class="iconify" data-icon="akar-icons:linkedin-fill" style="color: white;  width: 1.5vw; height: 1.5vw;"></span></a>
            </div>
            <div class="icon">
                <a target="_blank" href="https://www.instagram.com/ulatinhack2022/"><span class="iconify" data-icon="akar-icons:instagram-fill" style="color: white; width: 1.5vw; height: 1.5vw;"></span></a>
            </div>
            <div class="icon">
                <a target="_blank" href="https://www.youtube.com/channel/UCE9jS7OfBcnnDnhfLsJbrow"><span class="iconify" data-icon="akar-icons:youtube-fill" style="color: white;  width: 1.5vw; height: 1.5vw;"></span></a>
            </div>
            
        </div>
    </div>
    <div>
        <h3>NOSOTROS</h3>
        <div class="ctn-links">
            <a href=" ">QUIÉNES SOMOS</a>
            <a href="/prizes">PREMIOS</a>
            <a href="/schedule">CRONOGRAMA</a>
            <a href="/inscription">INSCRIPCIÓN</a>
        </div>
    </div>
    <div class="ctn-logo">
        <br>
        <img style="margin-left: auto; margin-right: auto;" class="cstiLogo" src="../../../assets/Imagenes/csti-invisible.png">
        <br>
        <mat-divider></mat-divider>
        <p style="margin-bottom: 0;">© 2022 - CSTI Corp. Sitio Política de Privacidad</p>
    </div>
</div>