<app-secondary-header></app-secondary-header>
<div class="ctn-faq">
    <div class="arrow-down">
        <button mat-icon-button>
            <mat-icon class="icon-display">arrow_drop_down</mat-icon>
        </button>
    </div>
    <h2>PREGUNTAS FRECUENTES</h2>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.HACKATHON' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DESCRIPCION_1' | translate}}
                {{'FRECUENTES.DESCRIPCION_2' | translate}}
                {{'FRECUENTES.DESCRIPCION_3' | translate}}<br><br>

                {{'FRECUENTES.DESCRIPCION_4' | translate}}
                {{'FRECUENTES.DESCRIPCION_5' | translate}}
                {{'FRECUENTES.DESCRIPCION_6' | translate}}
                {{'FRECUENTES.DESCRIPCION_7' | translate}} <br><br>

                {{'FRECUENTES.DESCRIPCION_8' | translate}}<br>
                {{'FRECUENTES.DESCRIPCION_9' | translate}}<br><br>

                {{'FRECUENTES.DESCRIPCION_10' | translate}} </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.PARTICIPACION' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DPARTICIPACION' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.EVENTO' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DEVENTO' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.COSTO' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DEVENTO' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.PROFESORES' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DPROFESORES' | translate}} <b>{{'FRECUENTES.DPROFESORES1' | translate}}</b> {{'FRECUENTES.DPROFESORES2' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.CODIFICAR' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DCODIFICAR' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.PROYECTOS' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DPROYECTOS' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.CONSISTE' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DCONSISTE' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.PREGUNTA' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DPREGUNTA_1' | translate}} <a href="mailto:ulatinhack@csticorp.biz">{{'FRECUENTES.DPREGUNTA_2' | translate}}</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'FRECUENTES.NIDEA' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'FRECUENTES.DNIDEA_1' | translate}} <a href="/inscription"> {{'FRECUENTES.DNIDEA_2' | translate}} </a> {{'FRECUENTES.DNIDEA_3' | translate}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<app-footer></app-footer>