<div class="ctn-menu">
    <a id="logo" routerLink=" "><img  class="logo" src="../../../assets/Logos/Logos-Hackaton-B-02.png"></a> 
    
    <div class="ctn-links">
                        
        <a routerLink="/whoWeAre"> {{'QUIENESSOMOS' | translate}}</a>
        <a> | </a>
        <a routerLink="/prizes">{{'PREMIOS' | translate}}</a>
        <a> | </a>
        <a routerLink="/schedule">{{'CRONOGRAMA' | translate}}</a>
        <a> | </a>
        <!-- <a routerLink="/results">{{'RESULTADOS' | translate}}</a>
        <a> | </a> -->
        <a routerLink="/bases">{{'BASES' | translate}}</a>
        <a> | </a>
        <a routerLink="/faq">{{'FAQ' | translate}}</a>
    </div>
</div>  