<app-secondary-header></app-secondary-header>
<div class="ctn-schedule">
    <div class="arrow-down">
        <button mat-icon-button>
            <mat-icon class="icon-display">arrow_drop_down</mat-icon>
        </button>
    </div>
    <h2>{{'PREMIOS' | translate}}</h2>
    <div class="ctn-img">
        <img src="../../../assets/Imagenes/prizesImg.png">
    </div>
   
    <h3>{{'PREMIOS_PRINCIPALES' | translate}}</h3>
    <hr>
    <div class="ctn-prizes">
        <mat-card>
            <h4>{{'PRIMERO.1er' | translate}}</h4>
            <ul>
                <li>{{'PRIMERO.TRAINE' | translate}}</li>
                <li>{{'PRIMERO.WINNER' | translate}}</li>
                <li>{{'PRIMERO.CERTIFICACION' | translate}}</li>
                <li>{{'PRIMERO.BECAS' | translate}}</li>
                <li>{{'PRIMERO.SUSCRIPCION' | translate}}</li>
                <li>{{'PRIMERO.VOUCHER' | translate}}</li>
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'SEGUNDO.2er' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDO.SECOND' | translate}}</li>
                <li>{{'SEGUNDO.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDO.BECAS' | translate}}</li>
                <li>{{'SEGUNDO.SUSCRIPCION' | translate}}</li>
                <li>{{'SEGUNDO.VOUCHER' | translate}}</li>  
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'TERCERO.3er' | translate}}</h4>
            <ul>
                <li>{{'TERCERO.THIRD' | translate}}</li>
                <li>{{'TERCERO.CERTIFICACION' | translate}}</li>
                <li>{{'TERCERO.VOUCHER' | translate}}</li>          
            </ul>
        </mat-card>

    </div>
    <h3>{{'PREMIOS_SEGUNDARIOS' | translate}}</h3>
    <hr>
    <div class="secondary-prizes">
        <mat-card>
            <h4>{{'SEGUNDARIOS.MEJOR_USO' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'SEGUNDARIOS.CREATIVO' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'SEGUNDARIOS.COMPLETO' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>

    </div>
    <div class="secondary-prizes">
        <mat-card>
            <h4>{{'SEGUNDARIOS.SAPCAI' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'SEGUNDARIOS.DEMO' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>
        <mat-card>
            <h4>{{'SEGUNDARIOS.TODOS' | translate}}</h4>
            <ul>
                <li>{{'SEGUNDARIOS.CERTIFICACION' | translate}}</li>
                <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
            </ul>
        </mat-card>

    </div>


</div>
<app-footer></app-footer>