
<div class="ctn-technologies">
    <div class="arrow-down">
        <button mat-icon-button>
            <mat-icon class="icon-display">arrow_drop_down</mat-icon>
        </button>
    </div>
    <h2>TECNOLOGÍAS</h2>
    <div class="ctn-images">
        <div>
            <img src="../../../assets/Imagenes/sap-intelligent-robotic-process-automation.png">
            <p>iRPA</p>
        </div>
        <div>
            <img src="../../../assets/Imagenes/sap-analytics-cloud.png">
            <p>SAP Analytics Cloud</p>
        </div>
        <div>
            <img src="../../../assets/Imagenes/sap-conversational-ai.png">
            <p>Chatbot</p>
        </div>
    </div>
    <div class="ctn-images">
        <div>
            <img src="../../../assets/Imagenes/ui-theme-designer.png">
            <p>SAP UI 5</p>
        </div>
        <div>
            <img src="../../../assets/Imagenes/cloud-management-service.png">
            <p>{{'TECNOLOGIAS.CLOUD' | translate}}</p>
        </div>
        <div>
            <img src="../../../assets/Imagenes/cloud-foundry-runtime.png">
            <p>{{'TECNOLOGIAS.FOUNDRY' | translate}}</p>
        </div>
        
    
    </div>
</div>