<div class="ctn-tech">
    <h2 class="title">{{'CHARLAST.TECHTALKS' | translate}}</h2>
  
    <div class="ctn-talks">
        <div>
            <a href="https://www.linkedin.com/in/mar%C3%ADa-cecilia-calzada-de-neumann-a8837b4b/" target="_blank"> <img src="../../../assets/Imagenes/speakers/mariaCecilia.png"></a>
            <a href="https://www.linkedin.com/in/mar%C3%ADa-cecilia-calzada-de-neumann-a8837b4b/" target="_blank"><h3>— MARÍA CECILIA CALZADA</h3></a>
          
                <h4>{{'CHARLAST.MARÍA' | translate}}</h4>
                <p>{{'CHARLAST.TMARÍA' | translate}}</p>
          
    
        </div>
        <div>
            <a href="https://www.linkedin.com/in/gabrielstrada/" target="_blank"><img class="ctn-img" src="../../../assets/Imagenes/speakers/gabrielStrada.png"></a>
            <a href="https://www.linkedin.com/in/gabrielstrada/" target="_blank"><h3>— GABRIEL STRADA</h3></a>
            <h4>{{'CHARLAST.GABRIEL' | translate}}<br>{{'CHARLAST.TGABRIEL1' | translate}}</h4>
            <p>{{'CHARLAST.TGABRIEL1' | translate}}</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/jesus-aguilar-7a2950/" target="_blank"><img class="ctn-img" src="../../../assets/Imagenes/speakers/jesusAguilar.png"></a>
            <a href="https://www.linkedin.com/in/jesus-aguilar-7a2950/" target="_blank"> <h3>— JESÚS AGUILAR</h3></a>
            <h4>{{'CHARLAST.JESUS' | translate}} </h4>
            <p>{{'CHARLAST.TJESUS' | translate}}</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/joel-elias-rodriguez/" target="_blank"><img  class="ctn-img" src="../../../assets/Imagenes/speakers/joelRodriguez.png"></a>
            <a href="https://www.linkedin.com/in/joel-elias-rodriguez/" target="_blank"><h3>— JOEL RODRÍGUEZ</h3></a>
            <h4>{{'CHARLAST.JOEL' | translate}}<br> {{'CHARLAST.TJOEL1' | translate}}</h4>
            <p>{{'CHARLAST.TJOEL2' | translate}}</p>
        </div>
    </div>
    <div class="ctn-talks">
        <div>
            <a href="https://www.linkedin.com/in/john-rincon/?originalSubdomain=co" target="_blank"><img  class="ctn-img" src="../../../assets/Imagenes/speakers/johnRincon.png"></a>
            <a href="https://www.linkedin.com/in/john-rincon/?originalSubdomain=co" target="_blank"><h3>— JOHN RINCÓN</h3></a>
            <h4>{{'CHARLAST.JHON' | translate}}<br>{{'CHARLAST.TJHON1' | translate}}</h4>
            <p>{{'CHARLAST.TJHON2' | translate}}</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/pedrop/" target="_blank"><img src="../../../assets/Imagenes/speakers/pedroPereira.jpg"></a>
            <a href="https://www.linkedin.com/in/pedrop/" target="_blank"><h3>— PEDRO PEREIRA</h3></a>
            <h4>{{'CHARLAST.PEDRO' | translate}}</h4>
            <p>{{'CHARLAST.TPEDRO' | translate}}</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/illari-alvarez-gil-escobar/" target="_blank"><img  src="../../../assets/Imagenes/speakers/illariAlvarezGil.png"></a>
        <a href="https://www.linkedin.com/in/illari-alvarez-gil-escobar/" target="_blank"> <h3>— ILLARI ALVAREZ-GIL</h3></a>
        <h4>{{'CHARLAST.ILLARI' | translate}}<br>{{'CHARLAST.TILLARI1' | translate}}</h4>
        <p>{{'CHARLAST.TILLARI2' | translate}}</p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/rodrigor1/" target="_blank"><img src="../../../assets/Imagenes/speakers/rodrigoRiveros.png"></a>
            <a href="https://www.linkedin.com/in/rodrigor1/" target="_blank"> <h3>— RODRIGO RIVEROS</h3></a>
            <h4>{{'CHARLAST.RODRIGO' | translate}}<br>{{'CHARLAST.TRODRIGO1' | translate}}</h4>
            <p>{{'CHARLAST.TRODRIGO2' | translate}}<br>
                {{'CHARLAST.TRODRIGO3' | translate}}
                </p>
        </div>
    </div>
</div>

