<app-secondary-header></app-secondary-header>


<div class="ctn-who-we-are">
    <h2>{{'QUIENESSOMOS' | translate}}</h2>

    <div class="ctn-organizers">
        <img id="cstiImg" src="../../../assets/Imagenes/cstiCorp.png">
        <img src="../../../assets/Imagenes/sapNextGen.png">
        <img id="upcImg"src="../../../assets/Imagenes/upc2.png">
        <img id="upcImg"src="../../../assets/Imagenes/Delaware-logo.svg.png">
    </div>
<!--     <img src="../../../assets/Imagenes/alex-kotliarskyi-ourQHRTE2IM-unsplash.jpg"> -->
    <br>
    <p>{{'DESCRIPCION_1'| translate}}<br><br>
        {{'DESCRIPCION_2'| translate}} <br><br>
        {{'DESCRIPCION_3'| translate}}<br>
        {{'DESCRIPCION_4'| translate}}<br><br>
        {{'DESCRIPCION_5'| translate}} </p>
</div>
<br><br>
<app-footer></app-footer>
