<div class="ctn-prizes">
    <h2>{{'PREMIOS' | translate}}</h2>
    <p>{{'PDESCRIPCION.PUESTO' | translate}}<br>
        {{'PDESCRIPCION.CATEGORIA' | translate}}<br>
        {{'PDESCRIPCION.SUSCRIPCIONES' | translate}}</p>
        <img class="ctn-img" src="../../../assets/Imagenes/prizesImg.png">
        <h3>{{'PREMIOS_PRINCIPALES' | translate}}</h3>
        <hr>
        <div class="secondary-prizes">
            <mat-card>
                <h4>{{'PRIMERO.1er' | translate}}</h4>

                <ul>
                    <li>{{'PRIMERO.TRAINE' | translate}}</li>
                    <li>{{'PRIMERO.VOUCHER' | translate}}</li>
                    <li>{{'PRIMERO.BECAS' | translate}}</li>
                </ul>
            </mat-card>
            <mat-card>
                <h4>{{'SEGUNDO.2er' | translate}}</h4>
                <ul>
                    <li>{{'SEGUNDO.VOUCHER' | translate}}</li>
                    <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
                    <li>{{'SEGUNDO.BECAS' | translate}}</li>
                    <li>{{'SEGUNDO.SUSCRIPCION' | translate}}</li>


                </ul>
            </mat-card>
            <mat-card>
                <h4>{{'TERCERO.3er' | translate}}</h4>
                <ul>
                    <li>{{'TERCERO.VOUCHER' | translate}}</li>
                    <li>{{'SEGUNDARIOS.SUSCRIPCION' | translate}}</li>
                </ul>
            </mat-card>
        </div>
</div>
