

    <div class="ctn-menu">
        <div class="ctn-logo">
            <button (click)="showMenu()" mat-icon-button >
                <mat-icon>menu</mat-icon>
              </button>
              <a class="logo" routerLink="/"> <img class="logo" src="../../../assets/Logos/Logos-Hackaton-B-02.png"></a>
        </div>

        <div class="ctn-links">
            <a routerLink="/whoWeAre">{{'QUIENESSOMOS' | translate}}</a>
            <a>|</a>
            <a routerLink="/prizes">{{'PREMIOS' | translate}}</a>
            <a>|</a>
            <a routerLink="/schedule">{{'CRONOGRAMA' | translate}}</a>
            <a>|</a>
            <a routerLink="/results">{{'RESULTADOS' | translate}}</a>
            <a>|</a>
            <a routerLink="/bases">{{'BASES' | translate}}</a>
            <a>|</a>
            <a routerLink="/faq">{{'FAQ' | translate}}</a>
        </div>
    </div>

    <div #myNameElem id="mySidenav" class="sidenav">
      <div class="ctn-logo2">
          <button (click)="showMenu()" mat-icon-button >
              <mat-icon>close</mat-icon>
            </button>
            <a class="logo2" routerLink="/"> <img class="logo2" src="../../../assets/Logos/Logos-Hackaton-B-02.png"></a>
      </div>
      <a routerLink="/inscription">{{'INSCRIPCIÓN' | translate}}</a>
      <a routerLink="/whoWeAre">{{'QUIENESSOMOS' | translate}}</a>
      <a routerLink="/results">{{'RESULTADOS' | translate}}</a>
      <a routerLink="/prizes">{{'PREMIOS' | translate}}</a>
      <a routerLink="/schedule">{{'CRONOGRAMA' | translate}}</a>
      <a routerLink="/techTalks">{{'CHARLAST.TECHTALKS' | translate}}</a>
      <a routerLink="/faq">PREGUNTAS FRECUENTES</a>
      <a routerLink="/bases">{{'BASES' | translate}}</a>
      <a routerLink="/useCases">{{'CASOS' | translate}}</a>
    </div>
 


    
  

