<h2 mat-dialog-title>{{'INSCRIPCION.GRUPO' | translate}}</h2>

<mat-dialog-content>
    <form [formGroup]="registrationForm">
        <div class="toggle">


           <mat-slide-toggle [disabled]="toggleDisabled" color="primary" formControlName="teamLeader">{{'INSCRIPCION.LEADER' | translate}}
                {{'INSCRIPCION.REPRESENTANTE' | translate}}</mat-slide-toggle>

          <!-- <mat-form-field appearance="fill">
            <mat-label>¿Eres el representante del equipo?</mat-label>
            <input formControlName="teamLeader" matInput>
        </mat-form-field> -->
        </div>

        <div class="two-rows">
            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.COMPLETO' | translate}}</mat-label>
                <input formControlName="nombreCompleto" matInput>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.CORREO' | translate}} </mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error class="text-danger"
                    *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.errors?.email">
                    {{'INSCRIPCION.COLOCAR' | translate}}
                </mat-error>
            </mat-form-field>
        </div>


        <!-- combo universidad dependiente de pais -->

        <div class="three-rows">
            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.PROFESION'| translate}}</mat-label>
                <input formControlName="carrera" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.COORDINADOR' | translate}}</mat-label>
                <input formControlName="nombreCoordinador" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.CORREOCOR' | translate}}</mat-label>
                <input formControlName="correoCoordinador" matInput>
                <mat-error class="text-danger"
                    *ngIf="registrationForm.controls.correoCoordinador.touched && registrationForm.controls.correoCoordinador.errors?.email">
                    Colocar correo válido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="two-rows">
            <mat-form-field appearance="fill">
                <mat-label>{{'INSCRIPCION.URL' | translate}}</mat-label>
                <input formControlName="linkedin" matInput>
            </mat-form-field>
        </div>
    </form>
    <div class="add-btn">
        <button  mat-raised-button (click)="addParticipant()"id="add">{{buttonName}}</button>
        <button mat-raised-button color="warn" (click)="close()">{{'INSCRIPCION.CLOSE' | translate}}</button>
    </div>
</mat-dialog-content>
