.flag-img{
    width: 15px;
    height: auto;
    margin-right: 10px;
  }
 
  .add-btn{
    display: flex;
    justify-content: left;
  }
  #add {
    background-color:#00294c ;
    color: white;
    margin-right: 10px;
  }
  .two-rows{
    display: flex;
    justify-content: space-between;
   width: 100%
  }
  .two-rows mat-form-field{
    width: 48%;
  }
  .three-rows{
    display: flex;
    justify-content: space-between;
   width: 100%
  }
  .three-rows mat-form-field{
    width: 30%;
  }
  .toggle{
    margin: 10px 0px;
  }