<div class="ctn-universities">
    <div class="arrow-down">
        <button mat-icon-button>
            <mat-icon class="icon-display">arrow_drop_down</mat-icon>
        </button>
    </div>
    <h2>UNIVERSIDADES CONFIRMADAS</h2>
    <div class="ctn-img">
        <div id="upc" >
            <img id="upc-img" src="../../../assets/Imagenes/upc2.png">
        </div>
        <div id="upc" >
            <img id="untref-img"src="../../../assets/Imagenes/3defebrero_arg.jpeg">
        </div>
        <div id="upc" >
            <img id="ust-img" src="../../../assets/Imagenes/ust.svg">
        </div>
        <div id="upc" >
            <img id="ufro-img"  src="../../../assets/Imagenes/ufro.png">
        </div>
        <div id="upc" >
            <img id="udla-img" src="../../../assets/Imagenes/logos-universidades/Logos-03.png">
        </div>
        <div id="upc" >
            <img id="umad-img" src src="../../../assets/Imagenes/umad.png">
        </div>
        <div id="upc" >
            <img id="insper-img"  src="../../../assets/Imagenes/inserp_br.png">
        </div>
        <div id="upc" >
            <img  id="pucsp-img" src="../../../assets/Imagenes/pucsp_pontificia_br.png">
        </div>
        <div id="upc" >
            <img id="losandes-img" src="../../../assets/Imagenes/los_andes_co.png">
        </div>
        <div id="upc" >
            <img  id="uab-img" src="../../../assets/Imagenes/autonoma_barcelona_es.png">
        </div>
        <div id="upc" >
            <img  id="ucenfotec-img"src="../../../assets/Imagenes/ucenfotec.png">
        </div>
        <div id="upc" >
            <img  id="tec-img"src="../../../assets/Imagenes/tec_monterrey_mx.png">
        </div>
        <div id="upc" >
            <img  id="tec-img" src="../../../assets/Imagenes/ucoahuila_mx.png">
        </div>
    
    </div>

</div>
