<h2>ORGANIZADORES</h2>
<div class="ctn-organizers">
    <a href="https://csticorp.biz/" target="_blank"><img id="cstiImg" src="../../../assets/Imagenes/cstiCorp.png"></a>
    <a href="https://www.sap.com/about/company/innovation/next-gen-innovation-platform.html" target="_blank"><img src="../../../assets/Imagenes/sapNextGen.png"></a>
    <a href="https://www.upc.edu.pe/" target="_blank"><img id="upcImg"src="../../../assets/Imagenes/upc2.png"></a>
    <a href="https://www.delaware.pro/pt-br" target="_blank"><img id="upcImg"src="../../../assets/Imagenes/Delaware-logo.svg.png"></a>
</div>
