<app-secondary-header></app-secondary-header>
    <div class="ctn-use-cases">
        <h2>CASOS DE USO</h2>
    
        <div class="ctn-cases">
            <div class="case1">
                <img class="ctn-icon" src="../../../assets/Imagenes/Iconos Hackaton_Mesa de trabajo 1.png">
                <h3>{{'EMPRESARIAL' | translate}}</h3>
                <button mat-flat-button (click)="openDialog(0)">{{'VER' | translate}}</button>
                <br>
            </div>
        </div>
    </div>
    <br><br>
<app-footer></app-footer>